.headerText {
	clear:both;
}
.headerText h1 {
	text-align:center;
	font-size: 20px;
}
.user, .rememfor {
	margin-bottom: 6px;
}
.pass {
	margin-bottom: 12px;
}
.remember, .forgot {
	font-size: 11px;
	color: #686868;
}
input.checkbox {
	margin: 0;
	padding: 0;
}
input.login {
	background: url(./images/login_button.jpg) no-repeat;
	width: 111px;
	height: 30px;
	border: 0;
	color: #FFF;
	font-weight: bold;
	float: right;
	margin-right: 38px;
	background-position: 0 0;
	cursor: pointer;
}
input:hover.login {
	background-position: 0 -30px;
}
.dixilogo {
  background: url(./images/logo.jpg) no-repeat left top transparent;
  float: left;
  height: 81px;
  width: 981px;  
}
#div_login {
	background: url(./images/login-box.png) no-repeat;
	width: 366px;
	height: 190px;
	margin: 50px auto 10px auto;
}
form#login_form {
	width: 290px;
	margin: 0 auto;
	padding-top: 43px;
}
form#login_form .user {
	margin-bottom: 4px;
}
form#login_form .user, form#login_form .pass {
	overflow: hidden;
}
form#login_form .user label, form#login_form .pass label {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #656565;
	margin-top: 10px;
	float: left;
}
form#login_form .user input, form#login_form .pass input {
	width: 178px;
	height: 28px;
	line-height: 28px;
	padding: 0 15px;
	border: 1px solid #999999;
	float: right;
	color: #406e85;
	border: 1px solid #999999;
	font-size: 13px;
	font-weight: bold;
}
.rememberLoginWrap {
	margin: 15px 0 0 80px;
	overflow: hidden;
}
.rememberLoginWrap .rememfor {
	float: left;
}
.rememberLoginWrap .rememfor label input#rememberme {
	width: 13px;
	height: 13px;
	margin: 0;
	padding: 0;
}
.rememberLoginWrap .loginButton {
	float: right;
}
.rememberLoginWrap .loginButton input#submit {
	background: url(./images/sign-in-btn.png) no-repeat;
	background-position: 0 0;
	width: 92px;
	height: 30px;
	border: 0;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #fff;
}
.rememberLoginWrap .loginButton input:hover#submit {
	background-position: 0 -30px;
}