<meta content="text/html; charset=utf-8" />
<style type="text/css">
.box1 {
	background-color: #F9F9F9;
	color: #666666;
	padding: 4px;
	-moz-box-shadow:0px 0px 5px #888;
	-moz-border-radius: 4px;
	-webkit-box-shadow: 0px 0px 5px #888;
	-webkit-border-radius: 4px;
	box-shadow: 0px 0px 5px #888;
	text-shadow: 1px 1px 0 #FFFFFF;
	border-radius: 10px;
	border: 1px solid white;
	height: 240px;
	overflow-y: scroll;
	overflow-x: scroll;
	white-space: normal;
	word-wrap: break-word;
}
.econtent {
	background: url(images/box-bgr.gif) repeat scroll center top #FFFFFF;
	padding: 18px;
}
</style>
<div id="emails">
  <p>这里包括 一家团契 最新的邮件列表.</p>
  <h2>邮件降序排列:</h2>
  <div class="box1 econtent">{$emails.asc}</div>
  <h2>邮件升序排列:</h2>
  <div class="box1 econtent">{$emails.desc}</div>
  <h2>相关信息：</h2>
  <div class="box1">
    <p> Homepage:	 	http://groups.google.com/group/surreyonefamily <br />
      Group email:	 	surreyonefamily@googlegroups.com </p>
  </div>
</div>
