<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<base target="mainFrame">
<link rel="stylesheet" type="text/css" href="{$config.path}css/dixi2.css" />
<script type="text/javascript" src="{$config.ipath}js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="{$config.ipath}js/cookie.js"></script>
</head>
<body>
<div id="header_{$config.browser_id}">
</div>
<script language="javascript" type="text/javascript">
$(function() {
});
</script>
</body>
</html>
