<!DOCTYPE HTML>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{include file="{$config.layout.header}"}
<body class="{#class#}">
<div id="border">
  <div id="border_shadow">
    <div id="container"> {include file="{$config.layout.title}"}
      <div id="whiteBody">
        <div id="contentBody_wrap"> {include file="{$config.layout.navigator}"}
          {include file=$template} </div>
      </div>
    </div>
  </div>
</div>
<div class="footerBorder"></div>
{*include file="{$config.layout.footer}"*}
</body>
</html>
